@media (max-width: 1400px) {
  .fs-18 {
    font-size: 15px;
  }
}

@media (max-width: 1199px) {
  .fs-18 {
    font-size: 12px;
  }
  .hide {
    display: none;
  }
  .block {
    display: block;
  }
  .max-w-293 {
    max-width: 200px;
  }
}
